<p><%= link_to "質問する" , new_question_path  %></p>


         <!-- ***** App Feature Area Start ***** -->
         <section class="app-features-area">
             <div class="container">
                 <div class="row">
                     <div class="col-12 col-md-6">
                         <div class="app-features-content">
                             <h2>All Q&A</h2>
                             <div class="row">

                                    <% @questions.each do |question|%>
                                             <!-- Single Feature Area -->
                                             <div class="col-12 col-sm-6">
                                                 <div class="single-feature-area">
                                                     <img src="assets/img/bg-img/feature-2.png" alt="">
                                                     <h5><%= link_to question.title , question %></h5>
                                                     <p><%= question.content %></p>
                                                     <!-- <p>質問者email：<%# question.user.email %></p> -->
                                                 </div>
                                             </div>
                                    <% end %>

                             </div>
                         </div>
                     </div>
                 </div>
             </div>

             <!-- App Feature Thumb -->
             <div class="app-feature-side-thumb">
                 <!-- <img src="assets/img/bg-img/feature-side.jpg" alt=""> -->
                 <img src="assets/img/bg-img/questions.jpg" alt="">
             </div>
         </section>
